<html>
    <body>
        <h1>{{title}}</h1>
        <form action="{% url 'chapter05:work11'%}" method="POST">
            <div>
                <label for="name">名前：</label><input type="text" id="name" name="name">
            </div>
            <div>
                <label for="score">点数：</label><input type="text" id="score" name="score">
            </div>
            <div>
                {%csrf_token%}
                <input type="submit" value="送信">
            </div>
        </form>
        <hr>
        <div>名前：{{ data.name }}</div>
        <div>点数：{{ data.score }}</div>
        {% if request.method == "POST" %}
            {% if data.score >= 90 %}
            <div>素晴らしいです</div>
            {% else %}
            <div>これからもがんばろう</div>
            {% endif %}
        {% endif %}
    </body>
</html>
