{% extends "base.html" %}

{% block title%}{{ title }}{% endblock %}

{% block content %}
<div class="container">
    <h2 class="m-2 mb-4 p-2 bg-primary text-white">{{ title }}</h2>
    <h3 class="m-2 mb-4 p-2 bg-secondary text-white">{{ sub_title }}</h3>
    <form action="{% url 'chapter09:work04' %}" method="POST" novalidate>
        {{form.as_p}}
        {% csrf_token %}
        <button type="submit" class="my-2 btn btn-primary">送信</button>
    </form>
    <hr>
    {% if request.method == "POST" %}
    <h3 class="m-2 mb-4 p-2 bg-danger text-white">{{ message }}</h3>
    {% endif %}
</div>
{% endblock %}
