{% extends "base.html" %}

{% block title%}{{ title }}{% endblock %}

{% block content %}
<div class="container">
    <h2 class="m-2 mb-4 p-2 bg-primary text-white">{{ title }}</h2>
    <h3 class="m-2 mb-4 p-2 bg-secondary text-white">{{ sub_title }}</h3>
    <div class="m-2">
        <table class="table table-bordered">
            {% for field in form %}
            <tr>
                <th>{{ field.label }}</th>
                <td>{{ field.value }}</td>
            </tr>
            {% endfor %}
        </table>
        <a href="{% url 'chapter11:work01' %}" class="btn btn-primary">戻る</a>
    </div>
</div>
{% endblock %}
