<html>
    <body>
        <h1>{{title}}</h1>
        <form action="{% url 'chapter06:work01' %}" method="POST">
            <div>
                <label for="name">名前：</label><input type="text" id="name" name="name">
            </div>
            <div>
                <label for="hobby">趣味：</label><input type="text" id="hobby" name="hobby">
            </div>
            <div>
                {%csrf_token%}
                <input type="submit" value="送信">
            </div>
        </form>
        <hr>
        <div>名前：{{ data.name }}</div>
        <div>趣味：{{ data.hobby }}</div>
    </body>
</html>
